* {
    font-family: sans-serif;
    background-color: #c75600;
    background-image: url("https://www.transparenttextures.com/patterns/basketball.png"); 
}

.game-container {
    height: 1000px;
    width: 1000px;
    align-items: flex-start;

    /* position: relative; */
    /* flex-direction: row;
    align-items: flex-start; */
}

a {
    display: flex;
    padding: 10px 10px 10px;
}

p {
    display: flex;
    padding: 20px;
} 