<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>This weeks games/title>
    <link rel="stylesheet" href="/stylesheets/styles2.css">
</head>
<body>
    <div class = 'game-container'>
        <h1>01/22/20 Schedule</h1>
        <ul>
            <a href='chatrooms'>
                <img src="http://content.sportslogos.net/logos/6/218/full/7034_philadelphia_76ers-primary-2016.png" alt="philly" height= "80" width= "80">
                <p>VS</p>
                <img src="http://content.sportslogos.net/logos/6/227/full/6259_toronto_raptors-primary_on_dark-2016.png" alt="toronto" height= "80" width= "80">
            </a>
            <br>
            <a href="chatrooms">
                <img src="http://content.sportslogos.net/logos/6/237/full/1772_los_angeles_lakers-primary_on_dark-2002.png" alt="lakers" height= "80" width= "80">
                    <p>VS</p>
                <img src="http://content.sportslogos.net/logos/6/216/full/2nn48xofg0hms8k326cqdmuis.gif" alt="knicks" height= "80" width="80">
            </a>
            <br>
            <a href="chatrooms">
                <img src="http://content.sportslogos.net/logos/6/220/full/9168_atlanta_hawks-primary-2016.png" alt="hawks" height= "80" width = "80">
                    <p>VS</p>
                <img src="http://content.sportslogos.net/logos/6/236/full/5462_los_angeles_clippers-primary-2016.png" alt="clippers" height= "80" width= "80">
            </a>
            <br>
        </ul>
        <br>
        <h1>01/23/20 Schedule</h1>
        <ul>
            <a href="chatrooms">
                <img src="http://content.sportslogos.net/logos/6/237/full/1772_los_angeles_lakers-primary_on_dark-2002.png" alt="lakers" height= "80" width= "80">
                <p>VS</p>
                <img src="http://content.sportslogos.net/logos/6/3786/full/137_brooklyn-nets-primary-2013.png" alt="nets" height= "80" width= "80">
            </a>
            <br>
            <a href="chatrooms">
                <img src="http://content.sportslogos.net/logos/6/228/full/9780_dallas_mavericks-primary_dark-2018.png" alt="mavs" height= "80" width= "80">
                <p>VS</p>
                <img src="http://content.sportslogos.net/logos/6/239/full/9725_portland_trail_blazers-primary-2018.png" alt="portland" height= "80" width= "80">
            </a>
            <br>
        </ul>
        <br>
        <ul>
            <h1>01/24/20 Schedule</h1>
        </ul>
        <a href="chatrooms">
                <img src="http://content.sportslogos.net/logos/6/220/full/9168_atlanta_hawks-primary-2016.png" alt="hawks" height= "80" width = "80">
                <p>VS</p>
                <img src="http://content.sportslogos.net/logos/6/2687/thumbs/khmovcnezy06c3nm05ccn0oj2.gif" alt="okc" height= "80" width = "80">
        </a>
        <br>
        <a href="chatrooms">
                <img src="http://content.sportslogos.net/logos/6/236/full/5462_los_angeles_clippers-primary-2016.png" alt="clippers" height= "80" width= "80">
                <p>VS</p>
                <img src="http://content.sportslogos.net/logos/6/214/thumbs/burm5gh2wvjti3xhei5h16k8e.gif" alt="heat" height= "80" width= "80">
        </a>
        <br>
        <ul>
            <h1>01/25/20 Schedule</h1>
        </ul>
        <a href="chatrooms">

            <img src="http://content.sportslogos.net/logos/6/228/full/9780_dallas_mavericks-primary_dark-2018.png" alt="mavs" height= "80" width= "80">" alt="">
            <p>VS</p>
            <img src="http://content.sportslogos.net/logos/6/230/thumbs/23068302020.gif" height= "80" width="80">
        </a>
        <a href="chatrooms">
                <img src="http://content.sportslogos.net/logos/6/2687/thumbs/khmovcnezy06c3nm05ccn0oj2.gif" alt="okc" height= "80" width = "80">
                <p>VS</p>
                <img src="http://content.sportslogos.net/logos/6/232/thumbs/23296692018.gif" alt="min" height = "80" width = "80">
        </a>
        <br>
        <ul>
            <h1>01/26/20 Schedule</h1>
        </ul>
        <a href="chatrooms">
            <img src="http://content.sportslogos.net/logos/6/230/thumbs/23068302020.gif" alt="houston" height= "80" width="80">
            <p>VS</p>
            <img src="http://content.sportslogos.net/logos/6/229/full/8926_denver_nuggets-primary-2019.png" alt="denver" height= "80" width=>
        </a>
    </div>    
    </body>
</html>