<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Let's Chat Basketball</title>
    <link rel="stylesheet" href="stylesheets/styles3.css">
</head>
<body>
        <h1>Lets Chat Basketball</h1>
        <div class= "login-box"> 
            <form action="/signup">
                <input type="button" onclick="location.href='/login';" value= "Login" />
                <input type="button" onclick="location.href='/signup';" value= "Sign Up">
            </form>
        </div>
    </div>
        
</body>
</html>