<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/styles.css">
</head>
<body>
    <form method="POST">
        <div class= "textbox">
                Favorite Team:
            <input name="favoriteteam" value= ${favoriteteam}>
        </div>
        <input type="submit" value= "Submit">
        <input type="reset" value= "Reset">
    </div>
    <div class= "team_id">
        Place the team id into "Favorite Team:" to add to users favorite team:
        <br>
        *add only one team id at a time*
            <br>
            1	Atlanta Hawks
            <br>
            2	Boston Celtics
            <br>
            3	Brooklyn Nets
            <br>
            4	Charlotte Hornets
            <br>
            5	Chicago Bulls
            <br>
            6	Cleveland Cavaliers
            <br>
            7	Dallas Mavericks
            <br>
            8	Denver Nuggets
            <br>
            9	Detroit Pistons
            <br>
            10	Golden State Warriors
            <br>
            11	Houston Rockets
            <br>
            12	Indiana Pacers
            <br>
            13	LA Clippers
            <br>
            14	LA Lakers
            <br>
            15	Memphis Grizzlies
            <br>
            16	Miami Heat
            <br>
            17	Milwaukee Bucks
            <br>
            18	Minnesota Timberwolves
            <br>
            19	New Orleans Pelicans
            <br>
            20	New York Knicks
            <br>
            21	Oklahoma City Thunder
            <br>
            22	Orlando Magic
            <br>
            23	Philadelphia Sixers
            <br>
            24	Phoenix Suns
            <br>
            25	Portland Trail Blazers
            <br>
            26	Sacramento Kings
            <br>
            27	San Antonio Spurs
            <br>
            28	Toronto Raptors
            <br>
            29  Utah Jazz
            <br>
            30	Washington Wizards
    </div>
    </form>
</body>
</html>