<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>User-Auth</title>
</head>
<body>
    <form action= '/signup' method="POST">
        <label>
            Username:
            <input name="username" value= ${username}>
        </label>
        <br>
        <label>
            Password:
            <input name="password" value= ${password}>
        </label>
        <br>
        <input type="submit" value= "submit!">
        <input type="reset">
    </form>
</body>
</html>